

.dsgn__basic-597584 .clear-both {
	clear: both;
}

.dsgn__basic-597584  img[src=\"https://i1266.photobucket.com/albums/jj531/wpdesignhub/icon-bulb_zps21lxtzu8.png\"] {
	margin-left: -25px;
}

.dsgn__basic-597584  img[src=\"https://i1266.photobucket.com/albums/jj531/wpdesignhub/icon-like_zpsyymi59dh.png\"] {
	margin-left: -15px;
}